* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.img-background {
  background-image: url(../images/background-main.png);
  height: var(--height-background);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--font-family-roboto);
}

.img-background::after {
  content: "";
  width: 100%;
  height: var(--height-background);
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border-top-header);
  position: relative;
  z-index: 2;
}
.img-header {
  width: 7%;
  margin: 10px 0px 0px 10px;
  padding-bottom: 10px;
}
a {
  text-decoration: none;
  color: inherit;
}
nav {
  height: 100%;
  width: auto;
}
a {
  margin: 55px;
  color: var(--text-color);
  font-size: var(--font-size-title);
  border: var(--border-header-nav-search);
  border-radius: 15px;
  padding: 15px;
}
a:hover {
  background-color: #533020;
}
form {
  position: relative;
  margin-right: 200px;
}
input {
  padding-left: 15px;
}
.header form input {
  width: 150%;
  height: 42px;
  border: var(--border-header-nav-search);
  border-radius: 15px;
}
.header form button {
  position: absolute;
  top: 0;
  right: -95px;
  width: 42px;
  height: 42px;
  border: none;
  background: var(--background-button);
  border-radius: 0px 15px 15px 0px;
  cursor: pointer;
}
.header form button::before {
  content: url(../icon/search-outline.svg);
}

/* Main */

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
.programmer,
.programmer-english {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.titel {
  color: var(--text-color);
  font-size: 50px;
  text-align: center;
  font-weight: 900;
}
.main h1,
h4,
h5 {
  color: var(--text-color);
  margin: 15px;
  text-align: center;
}
h4 {
  font-size: var(--font-size-short-description);
}
h5 {
  font-size: var(--font-size-text);
}

footer {
  position: relative;
  z-index: 2;
  border-top: var(--border-top-footer);
}
.text-footer {
  font-size: var(--font-size-title);
}
