.container {
  display: flex;
  align-items: center;
  width: 450px;
  height: 500px;
  background-color: #0d1931;
  margin: 250px auto 0 auto;
  text-align: center;
  border: 2rem solid;
  border-color: darkmagenta;
  border-radius: 20px;
  background-image: linear-gradient(90deg, #89bbca 50%, transparent 50%),
    linear-gradient(90deg, #89cac0 50%, transparent 50%),
    linear-gradient(0, #89cac0 50%, transparent 50%),
    linear-gradient(0, #89cac0 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 10px 4px, 10px 4px, 4px 10px, 4px 10px;
  animation: borders 700ms infinite linear;
}
@keyframes borders {
  0% {
    background-position: 0 0, 10px 100%, 0 10px, 100% 0;
  }
  100% {
    background-position: 20px 0, 0 100%, 0 0, 100% 10px;
  }
}
.password-recovery {
  text-decoration: none;
  color: aliceblue;
}
.container form {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  align-items: center;
}
input {
  width: 300px;
  height: 50px;
  font-size: 18px;
  margin-bottom: 25px;
  border-radius: 4px;
  padding-left: 10px;
  background-image: linear-gradient(90deg, darkmagenta 50%, transparent 50%),
    linear-gradient(90deg, darkmagenta 50%, transparent 50%),
    linear-gradient(0, darkmagenta 50%, transparent 50%),
    linear-gradient(0, darkmagenta 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 5px 4px, 5px 4px, 2px 10px, 2px 10px;
  animation: borders 400ms infinite linear;
}
